{% block footer %} 
<footer class="footer">
    <div class="container text-center">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
    </div><!--//container-->
</footer><!--//footer-->

<!-- Javascript -->          
<script type="text/javascript" src="{{ asset('shablon/assets/plugins/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('shablon/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>    
<script type="text/javascript" src="{{ asset('shablon/assets/plugins/jquery-rss/dist/jquery.rss.min.js') }}"></script> 
<!-- github calendar plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.10.1/fetch.min.js"></script>
<script type="text/javascript" src="{{ asset('shablon/assets/plugins/github-calendar/dist/github-calendar.min.js') }}"></script>
<!-- github activity plugin -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script type="text/javascript" src="{{ asset('shablon/assets/plugins/github-activity/src/github-activity.js') }}"></script>
<!-- custom js -->
<script type="text/javascript" src="{{ asset('shablon/assets/js/main.js') }}"></script>   

  {% endblock%}